* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #000000d5;
    padding: 1rem;    
    text-align: center;  
}

main {
    background-color: #4ba6a417;
    min-height: 85vh;    
}

h1 {
    color: #ac356d;
}

.box-textarea {
    background: none;
    border-color: #000;
    border-radius: 1rem;
}

.box {
    background: none;
    border-color:#000;
    border-radius: 0.5rem;  
}

h2 {   
    text-align: center;   
}
span{
    color: #ac356d;
    /*text-decoration: underline;*/
    background-color: #a1356736;    
    border-radius: 0.5rem;
}


.container-secciones {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding:4rem;
    gap: 4rem;    
    flex-wrap: wrap;
    
}

.seccion-formulario, .seccion-lista  {
    padding:1rem;
    flex-basis: 50%;
    border-color: #000;
    border-radius: 2.5rem;
    border-style: solid;
    color: #a0386aaf ;
    flex-grow: 1;
    box-shadow: 4px 4px 10px 0 #00000047;
    /*padding:1rem;*/
}

.seccion-formulario {    
    background-color: #fff;  
}

.seccion-lista {
    background-color: #fff;    
}

.form-row {
    padding: 1rem;
}

.input-formulario, .list {
    padding-top: 1.5rem;
}

.form-botones {
    display: flex;
    justify-content: space-evenly;
    padding:0.5rem;
    
}

.boton-submit, .boton-reset {
    background-color: #15c85429;
    color: #ab4b4bde;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 16px;
    box-shadow: 4px 4px 10px 0 #00000015
  }
  
  .boton-submit:hover {
    background-color: #42905d7c;
  }
  
  .boton-reset {
    background-color: #a0386aaf;
  }
  
  .boton-reset:hover {
    background-color: #5a6268;
  }
  


.footer {
    background-color: #000000d5;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin: auto 0 0;
}

@media (width >= 768px) {    

    .container-secciones{    
        flex-direction: row; 
        flex-wrap: nowrap;
    }
    /*
    .seccion-formulario, .seccion-lista {        
        flex-grow: 1;
        min-height: 400px;
    }*/
    
}

